---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Jun 2022 - Nov 2022",
    title: "React Native Developer",
    company: "Kuna - Argentina ",
    description:
      "Desarroll茅 una aplicaci贸n de monitoreo satelital para campos de arroz, dise帽ada para optimizar el manejo agr铆cola mediante datos geoespaciales. Utilic茅 React Native con Expo para construir una soluci贸n completa, abarcando desde el dise帽o de la interfaz hasta la integraci贸n de mapas interactivos con Mapbox GL   Implementaci贸n de mapas interactivos con marcadores personalizados y datos din谩micos. Integraci贸n con APIs para obtener y procesar datos satelitales en tiempo real. Dise帽茅 y maquet茅 las vistas de la aplicaci贸n, asegurando una experiencia de usuario intuitiva y eficiente.",
    link: "https://kuna.app/",
  },
  {
    date: "Oct 2022 - Jun 2024",
    title: "Tutor React & Nodejs",
    company: "Coderhouse - Argentina ",
    description:
    "Resoluci贸n de dudas a los alumnos dentro y fuera de clases Review y feedback de los trabajos pr谩cticos. Ense帽anza despu茅s de clases para temas dedicados.",
    link: "https://www.coderhouse.com/ar?pipe_source=google&pipe_medium=cpc&pipe_campaign=0&gad_source=1&gclid=Cj0KCQiA1p28BhCBARIsADP9HrPs53MeM8FieHcbeNI8G5aITtEOz9mborSgGSqXX0idQD18qcHJlyEaAj3DEALw_wcB",
  },
]
---

<ol class="relative border-s border-gray-600 ml-3">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-6">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>